@{
    ViewData["Title"] = "Alert Manager";
}

@using NLECA_Core_Newsletter_App.Models.Alert;
@model IEnumerable<AlertModel>

@section HeadIncludes {
    <link href="~/css/ManageAlerts.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Alert/AlertManager.js"></script>
}

<h2>Alert Manager</h2>

@if (Model.Count() == 0)
{
    <span>
        There are no current alerts to manage. If you would like, go ahead and
        <span class="addAlertButton btn btn-primary">Add an Alert</span>
    </span>
}
else
{


    <button class="addAlertButton">Add New Alert</button>

    @if (User.IsInRole("SuperAdmin"))
    {
        <button class="undoHideAlertsButton">Clear Hidden Alerts Cookie</button>
    }


    @foreach (AlertModel alert in Model)
    {
        <div class="individualAlert" data-alertid="@alert.AlertId">
            <h3>Alert#@alert.AlertId - @alert.AlertTitle</h3>
            <div>
                <span>@alert.AlertShortDetails</span>
            </div>
            <div>
                <span>@alert.AlertLongDetails</span>
            </div>
            <div>
                <span>@alert.AlertDate TO @alert.AlertDateEnd</span>
            </div>
            @if (alert.IsPublished)
            {
                <button class="unpublishAlertButton">Unpublish</button>
            }
            else
            {
                <button class="editAlertButton">Edit</button>
                <button class="deleteAlertButton">Delete</button>
                <button class="publishAlertButton">Publish</button>
            }
        </div>
        <hr />
    }
}
