@model NLECA_Core_Newsletter_App.Models.Newsletter.ArticleModel

    <div id="@Model.ArticleSequence" class="articleContent" data-articleid="@Model.ArticleId">

        <a name="@string.Format("article{0}", Model.ArticleId)"></a>

        @if (Model.ArticleType == 1)
        {
            <div class="leftArticleImage articleImageShow">
                <img src="@Model.ImageFileLocation" />
            </div>

        }
        @if (Model.ArticleType == 2)
        {
            <div class="rightArticleImage articleImageShow">
                <img src="@Model.ImageFileLocation" />
            </div>
        }

        @if (Model.ArticleType == 3)
        {
            <div class="topArticleImage articleImageShow">
                <img src="@Model.ImageFileLocation" />
            </div>
        }

        <h2>@Model.ArticleTitle</h2>
        <div id="ArticleText">
            @Html.Raw(Model.ArticleText)
        </div>

        @if (Model.ArticleType == 4)
        {
            <div class="bottomArticleImage articleImageShow">
                <img src="@Model.ImageFileLocation" />
            </div>
        }
    </div>
