@using NLECA_Core_Newsletter_App.Models.Newsletter;
@model NewsletterModel

@{
    ViewData["Title"] = "Newsletter Editor";
}
<link href="~/css/EditNewsletter.css" rel="stylesheet" />
@section Scripts{
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/Newsletter/EditNewsletter.js"></script>
}

@{string changeMemoButtonText = "<- Change Memo"; }

<div id="Newsletter">
    <div id="NewsletterEditor">
        <form action="/Newsletter/UpdateNewsletter" method="post">
            <input type="hidden" name="newsletterId" value="@Model.NewsletterId" />
            <input type="hidden" name="oldMemo" value="@Model.Memo" />

            <div id="memoArea">
                <span style="font-size: larger; font-weight: 700; color: red;">EDITITNG:</span> @Model.Memo
                <button type="button" id="memoEditButton">@changeMemoButtonText</button>
            </div>

            <div id="memoEditArea" style="display: none;">
                <label for="memo">Updated Memo: </label>
                <input type="text" name="memo" value="@Model.Memo" placeholder="@Model.Memo" />
                <button type="button" id="memoEditCancel">Cancel</button>
            </div>
            <button type="submit" id="memoSaveChanges">Save Changes</button>
        </form>
        <partial name="~/Views/Shared/_Newsletter.cshtml" model="@Model" />
    </div>
    <form id="AddArticleForm" action="/Article/AddArticle" method="post">
        <input type="hidden" name="newsletterId" value="@Model.NewsletterId">
    </form>
</div>