@using NLECA_Core_Newsletter_App.Models.Newsletter

@model List<NewsletterModel>

@{
    ViewData["Title"] = "EditNewsletter";
    bool canEdit = User.IsInRole("SuperAdmin") || User.IsInRole("Admin");
    string editorEnabledClass = canEdit ? "" : "disabled";
}

<h1>Newsletter Manager</h1>
<hr />

@foreach (NewsletterModel newsletter in Model)
{
    <form action="/Newsletter/EditNewsletter" method="post">
        <input type="hidden" name="newsletterId" value="@newsletter.NewsletterId" />
        <h2>@DateTime.Parse(newsletter.DisplayDate).ToString("MMMM yyyy") Newsletter</h2>
        <span>@newsletter.Memo - Created:  @newsletter.CreatedDate.ToString("MMMM dd, yyyy")</span>
        <button type="submit" @editorEnabledClass>Edit</button>
    </form>
    <input type="hidden" name="newsletterId" value="@newsletter.NewsletterId" />
    <form action="/Newsletter/RemoveNewsletter" method="post">
        <button type="submit" @editorEnabledClass>DELETE</button>
    </form>
    <hr />

}

@*Add Newsletter*@
<form action="/Newsletter/AddNewsletter" method="post">
    <button type="submit" @editorEnabledClass>Add New Newsletter</button>
</form>

