@model NLECA_Core_Newsletter_App.Models.Newsletter.EditArticleModel
@{
    ViewData["Title"] = "EditArticle";
}

@using NLECA_Core_Newsletter_App.Data;
@{
    string intValue = "IntValue";
    string textValue = "Text";
}

@section HeadIncludes {
    <link href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/EditArticle.css" rel="stylesheet" />
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
}

@section Scripts {
    <script src="~/js/Article/EditArticle.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
}

<h1>EditArticle</h1>

<h2>Added: @Model.Article.DateAdded by UserId: @Model.Article.AddedBy</h2>

<input hidden id="ModelArticleId" value="@Model.Article.ArticleId" />

<form id="ArticleUpdater" asp-controller="Article" asp-action="UpdateArticle" data-ajax="true" data-ajax-method="POST" enctype="multipart/form-data">

    <input hidden asp-for="Article.ArticleId" />
    <input hidden asp-for="Article.NewsletterId" />
    <input hidden asp-for="Article.ArticleSequence" />
    <input hidden asp-for="Article.ImageFileLocation" id="articleImageFileLocation" />
    <input hidden asp-for="Article.AddedBy" />
    <input hidden asp-for="Article.DateAdded" />


    <label for="articleTypeSelector">Article Type: </label>
    <select id="ArticleTypeDropdown"
            asp-for="Article.ArticleType"
            asp-items="@(new SelectList(Model.ArticleTypes, intValue, textValue))">
    </select>

    <div>
        <label for="articleTableOfContentsText">Table of contents Text: </label>
        <input id="ArticleTableOfContentsText" asp-for="Article.ArticleTableOfContentsText" />
    </div>
    <div>
        <label for="articleTitle">Article Title: </label>
        <input id="ArticleTitle" asp-for="Article.ArticleTitle" />
    </div>


    <div class="articleContent">
        <div class="topArticleImage">
            <div class="dragAndDropImageArea">
                @if (string.IsNullOrEmpty(Model.Article.ImageFileLocation))
                {
                    <img class="dragAndDropImage" src="../../Images/ArticleImages/draganddropimage.png" />
                }
                else
                {
                    <img class="dragAndDropImage" src="@Model.Article.ImageFileLocation" />
                }
            </div>
        </div>
        <div class="leftArticleImage">
            <div class="dragAndDropImageArea">
                @if (string.IsNullOrEmpty(Model.Article.ImageFileLocation))
                {
                    <img class="dragAndDropImage" src="../../Images/ArticleImages/draganddropimage.png" />
                }
                else
                {
                    <img class="dragAndDropImage" src="@Model.Article.ImageFileLocation" />
                }
            </div>
        </div>
        <div class="rightArticleImage">
            <div class="dragAndDropImageArea">
                @if (string.IsNullOrEmpty(Model.Article.ImageFileLocation))
                {
                    <img class="dragAndDropImage" src="../../Images/ArticleImages/draganddropimage.png" />
                }
                else
                {
                    <img class="dragAndDropImage" src="@Model.Article.ImageFileLocation" />
                }
            </div>
        </div>

        <textarea id="ArticleText" asp-for="Article.ArticleText"></textarea>

        <div class="bottomArticleImage">
            <div class="dragAndDropImageArea">
                @if (string.IsNullOrEmpty(Model.Article.ImageFileLocation))
                {
                    <img class="dragAndDropImage" src="../../Images/ArticleImages/draganddropimage.png" />
                }
                else
                {
                    <img class="dragAndDropImage" src="@Model.Article.ImageFileLocation" />
                }
            </div>
        </div>
    </div>
    <input hidden type="file" name="imageFile" id="ImageFileInput" accept="image/*" />
    <input hidden name="redirect" id="redirect" value="EditNewsletter" />

    <button type="submit">Save Changes</button>
    <button id="ArticleEditCancelButton" type="button">Cancel</button>
    <button id="ArticleDeleteButton" type="button">DELETE ARTICLE</button>
</form>

<form id="DeleteArticleForm" action="/Article/RemoveArticle" method="post">
    <input type="hidden" name="newsletterId" value="@Model.Article.NewsletterId" />
    <input type="hidden" name="articleId" value="@Model.Article.ArticleId" />
</form>

<div id="DeleteArticleDialog"
     title="DELETE?">
    <span class="dialogTextLine">
        Are you
        <span class="dialogWarningText">ABSOLUTELY SURE</span>
        you would like to
        <span class="dialogWarningText">DELETE</span>
        this article?
    </span>
    <span class="dialogTextLine">
        No data of this article will be saved.
    </span>
    <span class="dialogTextLine">
        It will be gone forever.
    </span>
</div>
