@model NLECA_Core_Newsletter_App.Models.Newsletter.ArticleModel
@{
    ViewData["Title"] = "EditArticle";
}

@section HeaderScripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/19.0.0/classic/ckeditor.js"></script>
}

<h1>EditArticle</h1>

<h2>Added: @Model.DateAdded by UserId: @Model.AddedBy</h2>

<form action="UpdateArticle" method="post">
    <input type="hidden" name="newsletterId" value="@Model.NewsletterId" />
    <input type="hidden" name="articleId" value="@Model.ArticleId" />

    <input type="hidden" name="oldArticleTableOfContentsText" value="@Model.ArticleTableOfContentsText" />
    <input type="hidden" name="oldArticleTitle" value="@Model.ArticleTitle" />
    <input type="hidden" name="oldArticleText" value="@Model.ArticleText" />
    <div>
        <label for="articleTableOfContentsText">Table of contents Text</label>
        <input type="text" name="articleTableOfContentsText" value="@Model.ArticleTableOfContentsText" />
    </div>
    <div>
        <label for="articleTitle">Article Title</label>
        <input type="text" name="articleTitle" value="@Model.ArticleTitle" />
    </div>
    <textarea id="articleEditor" name="articleText">@Model.ArticleText</textarea>

    <button type="submit">Save Changes</button>
</form>

<form action="/Newsletter/EditNewsletter" method="post">
    <input type="hidden" name="newsletterId" value="@Model.NewsletterId" />
    <button type="submit">Cancel</button>
</form>


@section Scripts {
    <script src="~/js/Article/EditArticle.js"></script>
}